
@{
    ViewData["Title"] = "AddPayment";
}

<!-- BEGIN: Form Validation -->
<div class="intro-y box" id="formbox" ng-app="PaymentApp" ng-controller="PaymentCtrl" ng-init="GetDebits()">
    <div style="margin:auto !important; top:auto;" ng-show="DebitsList.length == 0">
        <h1 class="text-4xl text-gray-700 font-medium leading-none text-center">You Have No Debts, to Add Payments</h1>
        <button style="margin:auto !important;" asp-action="ManageNarration" asp-controller="Dashboard" class="button bg-theme-1 text-white">Add Debts</button>
    </div>
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" ng-show="DebitsList.length > 0">
        <h2 class="font-medium text-base mr-auto">
            Add Your Monthly Debt Payments
        </h2>
        <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
        </div>
    </div>
    <div class="p-5" ng-show="DebitsList.length > 0">
        <div class="preview">
            <form name="paymentsform">
                <div class="input-form">
                    <label class="flex flex-col sm:flex-row"> Debt </label>
                    <div>
                        <div>
                            <select class="input w-full border mt-2" ng-change="setValues();setOutstanding();" name="debitref" ng-model="pageinputs.debitref" ng-options="x as x.narration for x in DebitsList" required>
                                <option class="block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="input-form">
                    <label class="flex flex-col sm:flex-row"> Payment Date  </label>
                    <input type="date" name="paydate" ng-model-options="{timezone:'UTC + 5:30'}" ng-model="pageinputs.paymentdate" class=" input w-full border mt-2" data-single-mode="true" required>
                </div>
                <div class="input-form mt-3">
                    <label class="flex flex-col sm:flex-row"> Amount/ EMI</label>
                    <input ng-model="pageinputs.paymentamount" ng-blur="setOutstanding()" type="number" class="input w-full border mt-2" placeholder="₹" name="emi" required>
                </div>
                <div class="input-form mt-3">
                    <label class="flex flex-col sm:flex-row">Outstanding(After EMI Payment)</label>
                    <input type="number" name="paydate" ng-model="currentOutstanding" class=" input w-full border mt-2" data-single-mode="true" required>
                </div>
                <div class="font-extrabold p-lg-5">Current Outstanding : {{pageinputs.debitref.currentOutstanding}}</div>
                <button class="button bg-theme-1 text-white mt-5" ng-click="FormValidator()">Add</button>
            </form>
            <h1 style="padding:10px;">
            </h1>
        </div>
    </div>

</div>


<!-- END: Form Validation -->
<style>
    @@media (min-width:1025px) {

        #formbox {
            margin-top: 10px !important;
            width: 50%;
            margin: auto;
        }
    }
</style>


@section scripts{
    <script>

    var app = angular.module('PaymentApp', []);
        app.controller('PaymentCtrl', function ($scope, $http,  $filter) {
        $scope.DebitsList = [];
        $scope.addShow = true;
            $scope.search = '';
        $scope.GetDebits = function () {
            $http({
                cache: false,
                url: "/Dashboard/GetDebits",
                method: "POST",


            }).then(function (data, status, headers, config) {
                data = data.data;
                $scope.DebitsList = [];
                $scope.DebitsList = data;
            }, function errorCallback(response) {

            });
        }

        $scope.AddPayment = function () {
            $scope.pageinputs.debitrefid = $scope.pageinputs.debitref.id;
            $scope.pageinputs.paymentAmount = $scope.pageinputs.debitref.emi;
            
            $http({
                cache: false,
                url: "/Dashboard/AddPaymentToDb",
                method: "POST",
                params: { data: JSON.stringify($scope.pageinputs), currentOutstanding:$scope.currentOutstanding }, async: false,
            }).then(function (data, status, headers, config) {
                data = data.data;
                if (data = true) {
                    swal("Success", "Added Successfully", "success");
                    $scope.pageinputs = {};
                    $scope.currentOutstanding = "";
                    $scope.GetDebits();
                }
                else {

                    swal("Error", "Unable to Process Your Request", "error");
                    $scope.pageinputs = {};
                }
            }, function errorCallback(response) {

            });
        }

        $scope.FormValidator = function () {
            if ($scope.paymentsform.$valid) {
                $scope.AddPayment();
            }
            else {
                swal("Error", "Please Fill All the Required Fields", "warning");
            }
        }

            $scope.setValues = function () {
                $scope.pageinputs.paymentdate = new Date($scope.pageinputs.debitref.loanStartDate);
                $scope.pageinputs.paymentamount = $scope.pageinputs.debitref.emi;
            }
            $scope.setOutstanding = function () {

                $scope.currentOutstanding = $scope.pageinputs.debitref.totalAmount - $scope.pageinputs.paymentamount;


            }



    });
    </script>
}